<h2>List of Books</h2>

<ul>
  <% @books.each do |book| %>
    <%= render partial: "book_summary", locals: { book: book } %>
  <% end %>
</ul>

<%= link_to "go back to the home page", welcome_path, alt: "this is a link!", class: "link", id: "go-home-link" %>
<%= link_to "Add a new book", "http://www.google.com" %>

<%= link_to image_tag("cat.jpg", alt: "adorable cat", height: "300px"), "http://www.google.com" %>
