<h2>List of Books</h2>

<ul>
  <% @books.each_with_index do |book, id| %>
    <li>
      <%= link_to book[:title], book_path(id) %>
    </li>
  <% end %>
</ul>

<%= link_to "go back to the home page", welcome_path %>
