<h2>List of Books</h2>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book.id) %>
      Age: <%= book.age.nil? ? "unknown" : book.age %>
    </li>
  <% end %>
</ul>

<%= link_to "go back to the home page", welcome_path %>
